name: Generate ASCII Artwork

on: 
    push

jobs:
    ascii_job:
      runs-on: ubuntu-latest
      steps:
      - name: checkout repo
        uses: actions/checkout@v4

      - name: Executing shel script
        run: |
          chmod +x ascii.sh
          ./ascii.sh