name: Matrix configuration

on:
    push:
    workflow_dispatch:

jobs:
    deploy-on-ubuntu:
       strategy:
         fail-fast: false
         max-parallel: 2
         matrix:
            os: [ubuntu-latest, ubuntu-20.04, windows-latest]
            images: [hello-world, alpine]
            exclude:
              - images: alpine
                os: windows-latest
       runs-on: ${{ matrix.os }}
       steps:
       - name: Echo Docker Details
         run: docker info

       - name: Run Images
         run: docker run ${{ matrix.images }}